
@{
    Layout = null;
}
<br />
<!doctype html>
<html lang="en">
<head>
    <title>MessageApp Website</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/sidebar-04/css/style.css">
</head>
<body>

    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
            </div>
            <h1><a href="index.html" class="logo">MessageApp</a></h1>
            <ul class="list-unstyled components mb-5">
                <li>
                    <a href="/Profile/Index/"><span class="fa fa-user mr-3"></span> Profilim</a>
                </li>
                <li class="active" id="mesajlar-menu">
                    <a href="#">
                        <span class="fa fa-comments mr-3"></span> Mesajlar
                    </a>
                    <ul id="menu-academico-sub">
                        <li><a href="/Member/myInbox/">Gelen Kutusu</a></li>
                        <li><a href="/Member/mySendbox/">Giden Kutusu</a></li>
                        <li><a href="/Umessage/addMessage/">Mesaj Gönder</a></li>
                        <li><a href="/Umessage/draftList/">Taslaklar</a></li>
                        
                    </ul>
                </li>
                @* <li class="active">
                    <a href="#"><span class="fa fa-comments mr-3"></span> Mesajlar</a>
                    <ul id="menu-academico-sub">
                        <li><a href="/Member/myInbox/">Gelen Kutusu</a></li>
                        <li><a href="/Member/mySendbox/">Giden Kutusu</a></li>
                        <li><a href="/Message/newMessage/">Mesaj Gönder</a></li>
                        <li><a href="/Message/draftList/">Taslaklar</a></li>
                        <li><a href="/Message/deleteList/">Silinen</a></li>
                        
                    </ul>
                </li> *@
                <li>
                    <a href="/Member/myFriend/"><span class="fa fa-user-plus mr-3"></span> Arkadaşlar</a>
                </li>
                <li>
                    <a href="/Calendar/Index/"><span class="fa fa-file mr-3"></span> Notlarım </a>
                </li>
                <li>
                    <a href="/Login/logout/"><span class="fa fa-sign-out mr-3"></span> Çıkış Yap</a>
                </li>
                
            </ul>

        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5 pt-5">
          @RenderBody()
        </div>
    </div>

    <script src="~/sidebar-04/js/jquery.min.js"></script>
    <script src="~/sidebar-04/js/popper.js"></script>
    <script src="~/sidebar-04/js/bootstrap.min.js"></script>
    <script src="~/sidebar-04/js/main.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var mesajlarMenu = document.getElementById("mesajlar-menu");
            var subMenu = mesajlarMenu.querySelector("#menu-academico-sub");

            // Başlangıçta alt menüyü gizle
            subMenu.style.display = "none";

            // Üst menüye tıklandığında alt menüyü aç/kapat
            mesajlarMenu.addEventListener("click", function () {
                if (subMenu.style.display === "none") {
                    subMenu.style.display = "block";
                } else {
                    subMenu.style.display = "none";
                }
            });
        });
    </script>

</body>
</html>
